@model WebApplication2.Models.Mine

@{
    ViewBag.Title = "Details";
}

    <h2>Details</h2>
    <br />

    <div class="mine-detail"> 
        <h3>@Model.Type</h3>

    @if (Model.Type == WebApplication2.Models.ResourceType.Clay) {
        <h4>Description: <br />
        Clay is produced here. By increasing its level, you increase the clay production
        </h4>
    }
    else  if(Model.Type == WebApplication2.Models.ResourceType.Iron) {
        <h4>Description: <br />
        Iron is produced here. By increasing its level, you increase the clay production
        </h4>
    }
    else if (Model.Type == WebApplication2.Models.ResourceType.Wheat) {
        <h4>Description: <br />
        Wheat is produced here. By increasing its level, you increase the clay production
        </h4>
    }
    else if(Model.Type == WebApplication2.Models.ResourceType.Wood) {
        <h4>Description: <br />
        Wood is produced here. By increasing its level, you increase the clay production
        </h4>
    }

        <img src="~/Content/img/mine-@(Model.Type).png" />
           @{ var prod = 13 * Model.Level;
           }
        <h4>Current Production: @prod</h4>
        <h4>Next level Production: @(13+prod)</h4>
    
    </div>
}
