@model WebApplication2.Models.City

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<table>
@foreach (var Mine in this.Model.Mines)
{
    <tr>
        <td> <img src="~/Content/img/icon-@(Mine.Type).png" /></td>
        <td>@Mine.Type</td>
        <td>@Mine.Level</td>
        <td>@Html.ActionLink("Details", "Details", new { mineId = Mine.MineId } ) </td>
    </tr>
}
</table>
