@model WebApplication2.Controllers.BuildViewModel
@{
    ViewBag.Title = "Build";
}

<h2>Build</h2>

@using (Html.BeginForm())

{
    @Html.HiddenFor(m => m.BuildingId)
    @Html.ListBoxFor(m => m.SelectedBuildingType, this.Model.BuildingTypes)
    <button type="submit">Build</button>
}
